{%extends 'main/boilerplate.html' %}

{%block content%}

<h2 class='text-center'>{{list.name}}</h2>
<form action='#' method="POST" class='form-group'>
    {%csrf_token%}
    <div class='mb-3'>
<ul>
{% for item in list.item_set.all %}

    {% if item.done == True %}
        
         <li><input type="checkbox" , value='clicked' , name="c{{item.id}}" checked >  {{item.text}}</li>

    {% else %}
         
         <li><input type="checkbox", value='clicked', name="c{{item.id}}" >  {{item.text}}</li>

    {% endif %}


{% endfor %}
</div>

</ul>


<button type='submit' name='save' value='save'>Save</button>
<div  class='input-group mb-3 mt-3'>
<input type='text' name='new_item_text'>
</div>
<button type='submit' name='new_item' value='new_item'> Add Item </button>
</form>

{% endblock %}